{% include "header.html" %}

<body class="d-flex align-items-center justify-content-center flex-column">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="mb-5" width="100">
    <h1 class="text-center mb-4">Welcome to the Morse Code Converter</h1>
    <p class="text-center mb-4">This is a simple tool to convert text to Morse code and vice versa.</p>
    <div class="d-flex">
        <a href="{{ url_for('text_to_morse') }}" class="btn btn-info me-5">Text ➜ Morse</a>
        <a href="{{ url_for('morse_to_text') }}" class="btn btn-warning">Morse ➜ Text</a>
    </div>

    {% include "footer.html" %}